<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="背单词用的">
    <title>
        とある科学の超単語帳
    </title>
    <%- include('common/css'); %>

</head>

<body>
    <%- include('common/tango-nav'); %>


    <main class="container">
        
    </main>
    <div class="divider container"></div>

    <%- include('common/commonjs'); %>
    <script type="text/javascript">
    </script>

</body>

</html>
