<div class="navbar-container">
    <nav class="<%= main_color %>">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo left hide-on-small-only"><%= title %></a>
            <a href="/" class="brand-logo hide-on-med-and-up"><%= title %></a>
            <a data-activates="slide-out" class="button-collapse collapse hide-on-med-and-up">
                <div class="side-menu">&nbsp;</div>
            </a>
            <ul class="right hide-on-small-only">
                <!-- <li><a href="Tango">Home</a></li> -->
                <li><a href="Tango?page=add">Add</a></li>
                <li><a href="Tango?page=list">List</a></li>
                <li><a href="Tango?page=test">Test</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="side-nav" id="slide-out">
    <!-- <li><a href="Tango">Home</a></li> -->
    <li><a href="Tango?page=add">Add</a></li>
    <li><a href="Tango?page=list">List</a></li>
    <li><a href="Tango?page=test">Test</a></li>
</ul>
